

<app-bank-account></app-bank-account>
<!-- <h2> this is my app heading </h2>
<h1> hello {{title}} </h1>
<h3> Physics is {{ phy }} </h3>
<h3> Chemistry is {{ chem }} </h3>
<h3> Maths  is {{ maths }} </h3>
<h3> Total is {{ phy + chem + maths }} </h3>
interpollation
Phy <input type=number name="phy" value="{{phy}}"> <br>
Chem <input type=number name="chem" value="{{chem}}"> <br>
Math <input type=number name="maths" value="{{maths}}"> <br>
TOTAL {{ total }}
Phy <input type=number name="phy" [(ngModel)]="phy"> <br>
Chem <input type=number name="chem" [(ngModel)]="chem"> <br>
Math <input type=number name="maths" [(ngModel)]="maths"> <br>

<button (click)="runMe()"> Calculate </button> -->
<!-- 
<app-report-card>Loading another component..</app-report-card>
<app-report-card>Loading another component..</app-report-card>
<app-report-card>Loading another component..</app-report-card> -->

<!-- <app-header></app-header>
<app-main></app-main>
<app-footer></app-footer> -->