<p>bank-account works!</p>

<table>
    <tr>
        <td>Account Number</td>
        <td>{{baObj.accountNumber}}</td>
    </tr>

    <tr>
        <td>Account Holder</td>
        <td>{{baObj.accountHolder}}</td>
    </tr>

    <tr>
        <td>Account Balance</td>
        <td>{{baObj.accountBalance}}</td>
    </tr>
    <tr>
        <td>Account Status</td>
        <td><div *ngIf="baObj.isActive; else PopCorn"> Active  </div>
            <ng-template #PopCorn>InActive </ng-template>
    </td>
    </tr>

</table>


<hr>

<table border=5>
    <th>Account Number</th><th>Account Holder</th>
    <th>Account Balance</th><th>Account Status</th>
    <th>Address</th>
    <tr *ngFor="let x of baObjArray">
        <td>{{x.accountNumber}}</td>
        <td>{{x.accountHolder}}</td>
        <td>
            <button (click)="showBalance(x)">{{x.buttonLabel}}</button>
            <div *ngIf="x.show">    
                {{x.accountBalance}}
            </div>

        </td>
        <td><div *ngIf="x.isActive; else PopCorn"> Active  </div>
            <ng-template #PopCorn>InActive </ng-template>
        </td>
        <td>
            <img src='{{x.image}}' height="150" width=150>
        </td>
            <table border=2>
                <th>Area</th><th>Street</th><th>City</th><th>State</th><th>Country</th><th>Pin</th>
                <tr>
                    <td>{{x.address.area}}</td>
                    <td>{{x.address.street}}</td>
                    <td>{{x.address.city}}</td>
                    <td>{{x.address.state}}</td>
                    <td>{{x.address.country}}</td>
                    <td>{{x.address.pin}}</td>
                </tr>
            </table>
    </tr>
</table>

<!-- 65

33->66
32->64

45 = 90
10 questions risked lets say
20 marks = 
90-20 = 70

50 mcq

2005

GOLDEN RULE

WHAT YOU KNOW IS NOT IMPORTANT

WHAT THE QUESTION IS DEMANDING AND ASKING
THAT IS IMPORTANT

1 LIE
2 TRUE
3 LIE
4 LIE


25 easy
15 intermediate
10 difficult
---------
rdbms           10

normalization       2
joins               1
nested queries      1
constraints         1
sql                 1
function            1
proce               1
dml                 1
sql                 1


core java       15

oops                2
interfaces          1
abstract            1
exception           2
collections         2
jdbc                2
packages            1
access specifier    1
basics              1
static/final        1

web = 
html            5
few tags

css             5
inline
internal
external
background color
alignment
font,size

js              5
internal
external
variables
document object

angular         10

@component
@NgModule
[(ngModel)]
*ngIf
*ngFor
ng g c 
services
modules
routing
form validation
session management
selector
templateUrl 


WHICH ONE OF THE FOLLOWING IS A DECORATOR
TO MAKE A CLASS AS COMPONENT

1 @Component

2 @NgModule

3 @Service

4 @Injector


Which one of the following is used to do two way
binding

1. {{}}
2. [()]  <input type=number name=phy [(ngModel)]="phy">
3. ([])
4. (())

Which module is added for running the two way binding 

1. BrowserModule
2. AppModule
3. FormsModule
4. RoutingModule

which command is used to make the component?

1. ng gc
2. ng gen c 
3. ng generate c
4. ng g co

Which line is valid to make an object in angular?

1. BankAccount ba: new BankAccount();
2. ba: BankAccount = new BankAccount();
3. ba: BankAccount();
4. ba: BankAccount;


Java

1. which one the following is a checked exception?

a. RuntimeException
b. Exception
c. ArithmeticException
d. NullPointerException

2. which one the following is unchecked exception?

a. RuntimeException
b. Exception
c. SQLException
d. IOException

3. State true of false
    throws clause is mandatory for unchecked exceptions

    a. true
    b. false

3. State true of false
    throws clause is mandatory for checked exceptions

    a. true
    b. false

4. abstract function must reside in one of following
   class

   1. non-abstract class
   2. abstract class
   3. final class
   4. static class

5. What are the qualifiers of interface methods?

    a. static final
    b. public abstract
    c. final abstract
    d. static abstract

6. what are the qualifiers of interface fields?

    a. static final
    b. public abstract
    c. final abstract
    d. static abstract

7. class A {
        void fun() { }
    }
    class B extends A {
        void fun() throws Exception {

        }
    } 
    a. compile time error
    b. runtime error
    c. B cannot extends A
    d. fun() is not overridden


    8. class A {
        void fun() { }
    }
    class B extends A {
        void fun() throws Exception {

        }
    } 
    a. compile time error
    b. runtime error
    c. B cannot extends A
    d. fun() is not overridden

9. class A {
        void fun() throws Exception { }
    }
    class B extends A {
        void fun()  {

        }
    } 
    a. compile time error
    b. runtime error
    c. B cannot extends A
    d. fun() is overridden

10. In which collection class
    the output order of element is same as input
    order?
    
    a. ArrayList
    b. TreeSet
    c. HashSet
    d. HashMap


    11. In which collection class
    the output order of element is sorted?
    
    a. ArrayList
    b. TreeSet
    c. HashSet
    d. HashMap



    SQL
    ----

    1. What is the last clause of the SELECT query

        a. from
        b. having
        c. order by
        d. group by

    2. State true of false
        column mentioned in the select query must be
        mentioned by the group by clause

        a. true
        b. false

    3. column mentioned in the group by may not be necessarily
       appeared in the select query
        a. true
        b. false
    
    4. which constraint cannot be issued at table level constraints?

        a. default
        b. primary key
        c. foreign key
        d. check
    
    5.  Which constraint is the referential integrity constraint?

        a. default
        b. primary key
        c. foreign key
        d. check

    6. Which normal form is transitive dependency?

        a. 2nd
        b. 1st
        c. 3rd
        d. 4th

    7. Which join is used to select unmatched records?

        a. outer
        b. inner
        c. self
        d. equi

    8. A procedure must return a value
        
        a. true
        b. false

    9. How do you disable the primary key

        a. alter table emp disable primary key
        b. alter table emp drop primary key
        c. alter table emp disable constraint primary key
        d. alter table emp disable constraint emp_pk

    10. How to rename a table?

        a. rename emp to emp1
        b. rename table emp emp1
        c. rename emp emp1
        d. alter table emp to emp1

        

-->

