{{ title | lowercase }} <br>
{{ title | uppercase }} <br>

{{ 5000 | currency:'USD'}} <br>
{{ 5000 | currency:'INR'}} <br>
{{ 5000 | currency:'EUR'}} <br>

{{ today }} <br>
{{ today | date:'d/M/y' }} <br>
{{ today | date:'shortTime' }} <br>

{{ 0.90 | percent }}
{{ jsonData | json }}

<p>We believe in solving complex business challenges of the converging world, by using cutting-edge technologies.

    Explore LTI worldwide locations
    on our Global Footprint page.
    
    Have a challenge for us?
    
    Let’s Solve</p>

